# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Coverage
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace
go.work
go.work.sum

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db